<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>
    <typeAliases>
      <typeAlias alias="IRepositoryDapper" type="DataAccess.IRepositoryDapper, DataAccess" />
      <typeAlias alias="RepositoryDapper" type="DataAccess.RepositoryDapper, DataAccess" />
      <typeAlias alias="IVoucher" type="BusinessLogic.IVoucher, BusinessLogic" />
      <typeAlias alias="Voucher" type="BusinessLogic.Voucher, BusinessLogic" />

    </typeAliases>
    <containers>
      <container>
        <types>
          <type type="IRepositoryDapper" mapTo="RepositoryDapper" />
          <type type="IVoucher" mapTo="Voucher" />
        </types>
      </container>
    </containers>
  </unity>
  <appSettings>
    <clear />
    <add key="ConnectString" value="SERVER=192.168.99.99;Database=test;User name=hangbt;Password=123456;port=5437;" />   
    <add key="BaseAddress" value="http://localhost:5432/"/>
    <!--<add key="ListIP" value="222.252.29.14,14.232.208.56"/>-->
    <add key="APIKey" value="8ab799af-001e-4cf7-b7f4-e346d9dd6be9"/> 
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>